# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
import numpy as np 
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
data = pd.read_csv('/Users/tiagoornelas/Documents/Ironhack/Labs/lab-hypothesis-testing-1/your-code/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
data.groupby(['Salary or Hourly']).agg('count')

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Hourly,8022,8022,8022,8022,8022,0,8022
Salary,25161,25161,25161,25161,0,25161,0

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [15]:
data.groupby(['Department']).agg({'Name': 'count'}).reset_index().rename(columns={'Name': 'Count'})

               Department  Count
0            ADMIN HEARNG     39
1           ANIMAL CONTRL     81
2                AVIATION   1629
3       BOARD OF ELECTION    107
4         BOARD OF ETHICS      8
5           BUDGET & MGMT     46
6               BUILDINGS    269
7        BUSINESS AFFAIRS    171
8              CITY CLERK     84
9            CITY COUNCIL    411
10  COMMUNITY DEVELOPMENT    207
11                   COPA    116
12       CULTURAL AFFAIRS     65
13           DISABILITIES     28
14                   DoIT     99
15       FAMILY & SUPPORT    615
16                FINANCE    560
17                   FIRE   4641
18       GENERAL SERVICES    980
19                 HEALTH    488
20        HUMAN RELATIONS     16
21        HUMAN RESOURCES     79
22          INSPECTOR GEN     87
23                    LAW    407
24      LICENSE APPL COMM      1
25         MAYOR'S OFFICE     85
26                   OEMC   2102
27                 POLICE  13414
28           POLICE BOARD      2
29            PROCUREMENT     92
30         PUBLIC LIBRARY   1015
31          STREETS & SAN   2198
32             TRANSPORTN   1140
33              TREASURER     22
34            WATER MGMNT   1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [ ]:
import scipy.stats as st

part_time = data[data['Full or Part-Time'] == 'P']


part_time['Hourly Rate'].fillna(part_time['Hourly Rate'].mean(), inplace=True)

part_time.isna().sum()

In [25]:
a = .05

stat, p_value = st.ttest_1samp(part_time['Hourly Rate'], 30)

p_value < a

True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [ ]:
# filtering for full time, and filling nulls with average salary 

full_time = data[data['Full or Part-Time'] == 'F']

full_time.isna().sum()

full_time['Annual Salary'].fillna(full_time['Annual Salary'].mean(), inplace=True)

a = .05

stat, p_value = st.ttest_1samp(full_time['Annual Salary'], 86000, alternative='greater')

p_value < a

Using the `crosstab` function, find the department that has the most hourly workers.

In [90]:
crosstab = pd.crosstab(data['Department'], columns=data['Full or Part-Time']).reset_index()

crosstab.sort_values(by=['P'],ascending=False) 

## Answer: department with most hourly workers is OEMC

Full or Part-Time             Department      F     P
26                                  OEMC    873  1229
30                        PUBLIC LIBRARY    727   288
15                      FAMILY & SUPPORT    329   286
31                         STREETS & SAN   2024   174
9                           CITY COUNCIL    360    51
1                          ANIMAL CONTRL     62    19
2                               AVIATION   1611    18
27                                POLICE  13404    10
7                       BUSINESS AFFAIRS    164     7
21                       HUMAN RESOURCES     75     4
10                 COMMUNITY DEVELOPMENT    204     3
16                               FINANCE    558     2
23                                   LAW    406     1
25                        MAYOR'S OFFICE     84     1
24                     LICENSE APPL COMM      1     0
0                           ADMIN HEARNG     39     0
28                          POLICE BOARD      2     0
29                           PROCUREMENT     92     0
32                            TRANSPORTN   1140     0
33                             TREASURER     22     0
22                         INSPECTOR GEN     87     0
17                                  FIRE   4641     0
20                       HUMAN RELATIONS     16     0
19                                HEALTH    488     0
18                      GENERAL SERVICES    980     0
14                                  DoIT     99     0
13                          DISABILITIES     28     0
12                      CULTURAL AFFAIRS     65     0
11                                  COPA    116     0
8                             CITY CLERK     84     0
6                              BUILDINGS    269     0
5                          BUDGET & MGMT     46     0
4                        BOARD OF ETHICS      8     0
3                      BOARD OF ELECTION    107     0
34                           WATER MGMNT   1879     0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [97]:
oemc = data[data['Department'] == 'OEMC']

oemc_p = oemc[oemc['Full or Part-Time'] == 'P']

stat, p_val = st.ttest_1samp(oemc_p['Hourly Rate'], 35, alternative='less')

p_val < a

True

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [99]:
part_time = data[data['Full or Part-Time'] == 'P']

hourly_mean = part_time['Hourly Rate'].mean()

hourly_std = part_time['Hourly Rate'].std()

n = len(part_time)

confidence = st.t.interval(0.95, df=n-1, loc=hourly_mean, scale=hourly_std/np.sqrt(n))
confidence

(16.90367335049502, 17.480171699720188)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [100]:
full_time = data[data['Full or Part-Time'] == 'F']

hourly_mean = full_time['Hourly Rate'].mean()

hourly_std = full_time['Hourly Rate'].std()

n = len(full_time)

confidence = st.t.interval(0.95, df=n-1, loc=hourly_mean, scale=hourly_std/np.sqrt(n))
confidence

(38.196573052131114, 38.377866334144386)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: