# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [5]:
# Your code here:
salaries=pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [6]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [14]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [15]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [16]:
# Your code here:
salaries.groupby('Department').Name.count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [42]:
# Your code here:
from scipy.stats import ttest_1samp

hours=salaries['Hourly Rate'].dropna().reset_index(drop=True)
ttest_1samp(hours, 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [ ]:
"""
Since p-value<0.05, we reject Ho.
"""

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [43]:
# Your code here:
#H0:salaries<=86000
#H1:salaries>86000

year=salaries['Annual Salary'].dropna().reset_index(drop=True)
ttest_1samp(year.values, 86000)

Ttest_1sampResult(statistic=5.932870515690814, pvalue=3.015758519916386e-09)

Using the `crosstab` function, find the department that has the most hourly workers.

In [64]:
# Your code here
workers_per_department=pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).reset_index()
workers_per_department

Salary or Hourly             Department  Hourly  Salary
0                          ADMIN HEARNG       0      39
1                         ANIMAL CONTRL      19      62
2                              AVIATION    1082     547
3                     BOARD OF ELECTION       0     107
4                       BOARD OF ETHICS       0       8
5                         BUDGET & MGMT       2      44
6                             BUILDINGS       0     269
7                      BUSINESS AFFAIRS       7     164
8                            CITY CLERK       0      84
9                          CITY COUNCIL      64     347
10                COMMUNITY DEVELOPMENT       4     203
11                                 COPA       0     116
12                     CULTURAL AFFAIRS       7      58
13                         DISABILITIES       0      28
14                                 DoIT       0      99
15                     FAMILY & SUPPORT     287     328
16                              FINANCE      44     516
17                                 FIRE       2    4639
18                     GENERAL SERVICES     765     215
19                               HEALTH       3     485
20                      HUMAN RELATIONS       0      16
21                      HUMAN RESOURCES       4      75
22                        INSPECTOR GEN       0      87
23                                  LAW      40     367
24                    LICENSE APPL COMM       0       1
25                       MAYOR'S OFFICE       8      77
26                                 OEMC    1273     829
27                               POLICE      10   13404
28                         POLICE BOARD       0       2
29                          PROCUREMENT       2      90
30                       PUBLIC LIBRARY     299     716
31                        STREETS & SAN    1862     336
32                           TRANSPORTN     725     415
33                            TREASURER       0      22
34                          WATER MGMNT    1513     366

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [80]:
# Your code here:
#H0:hourlysalary<=35
#H1:hourlysalary>35

department=str(list(workers_per_department[workers_per_department['Hourly']==max(workers_per_department['Hourly'])]['Department'].values)[0])
sample=salaries[salaries['Department']==department]
sample=sample['Hourly Rate'].dropna().reset_index(drop=True)
ttest_1samp(sample.values, 35)

#Since statistic has a negative value, we can't reject H0.

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [101]:
# Your code here:
from scipy import stats

stats.t.interval(0.95,8021,(hours.values).mean(),stats.sem(hours.values))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [99]:
# Your code here:
stats.t.interval(0.95,25160,years.values.mean(),stats.sem(hours.values))

(86786.73471803156, 86787.2648622713)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [91]:
salaries.shape

(33183, 8)

In [94]:
# Your code here:
#H0:proportion of hourly workers=0.25
#H1::proportion of hourly workers!=0.25

from statsmodels.stats.proportion import proportions_ztest

count = 8022
nobs = 33183
value = 0.25
stat, pval = proportions_ztest(count, nobs, value)
print('{0:0.6f}'.format(pval))

#Since p-value<0.05, we reject H0

0.000448