# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
# Your code here:
employees = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
employees.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:
print(len(employees[employees['Salary or Hourly'] == 'Salary']))
print(len(employees[employees['Salary or Hourly'] == 'Hourly']))

25161
8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
# Your code here:
[{dep: len(dep)} for dep in employees['Department'].unique()]

[{'POLICE': 6},
 {'GENERAL SERVICES': 16},
 {'WATER MGMNT': 11},
 {'OEMC': 4},
 {'CITY COUNCIL': 12},
 {'AVIATION': 8},
 {'STREETS & SAN': 13},
 {'FIRE': 4},
 {'FAMILY & SUPPORT': 16},
 {'PUBLIC LIBRARY': 14},
 {'TRANSPORTN': 10},
 {"MAYOR'S OFFICE": 14},
 {'HEALTH': 6},
 {'BUSINESS AFFAIRS': 16},
 {'LAW': 3},
 {'FINANCE': 7},
 {'CULTURAL AFFAIRS': 16},
 {'COMMUNITY DEVELOPMENT': 21},
 {'PROCUREMENT': 11},
 {'BUILDINGS': 9},
 {'ANIMAL CONTRL': 13},
 {'CITY CLERK': 10},
 {'BOARD OF ELECTION': 17},
 {'DISABILITIES': 12},
 {'HUMAN RESOURCES': 15},
 {'DoIT': 4},
 {'BUDGET & MGMT': 13},
 {'TREASURER': 9},
 {'INSPECTOR GEN': 13},
 {'HUMAN RELATIONS': 15},
 {'COPA': 4},
 {'BOARD OF ETHICS': 15},
 {'POLICE BOARD': 12},
 {'ADMIN HEARNG': 12},
 {'LICENSE APPL COMM': 17}]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [48]:
# Your code here:
import scipy.stats as st

# hypothesis:
# H0: hourly wage = 30$/hr
# H1: hourly wage != 30$/hr

# confidence level
alpha = 0.05

# sample
hourly = employees[employees['Salary or Hourly'] == 'Hourly']['Hourly Rate']

# stat, p_value
stat, p_value = st.ttest_1samp(hourly, 30)

print(stat)
print(p_value)
p_value < alpha
# the p_value is lower than alpha
# we reject the null hypothesis
# it seems that the hourly wage of all hourly workers is significantly different from $30/hour

20.6198057854942
4.3230240486229894e-92

32.78855771628024

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [49]:
# Your code here:

# hypothesis:
# H0: salaries this year <= salaries last year ($86000)
# H1: salaries this year > salaries last year ($86000)

# confidence level
alpha = 0.05

# sample
salaries = employees[employees['Annual Salary'].dropna()]['Annual Salary']

# stat, p_value
stat, p_value = st.ttest_1samp(salaries, 86000, alternative= 'greater')

print(stat)
print(p_value)
p_value < alpha
# the p_value is lower than alpha
# the stat is in the correct direction of the alternative hypothesis
# we reject the null hypothesis
# it seems that the salaries this year are higher than last year's

5.932870515690814
1.507879259958193e-09

True

Using the `crosstab` function, find the department that has the most hourly workers.

In [46]:
# Your code here:
pd.crosstab(employees['Department'], employees['Salary or Hourly'])
# the department with the most hourly worker is streets & san

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [59]:
# Your code here:

# hypothesis:
# H0: hourly wage >= 35$/hr
# H1: hourly wage < 35$/hr

# confidence level
alpha = 0.05

# sample
streets_san = employees[employees['Department'] == 'STREETS & SAN']
hourly = streets_san[streets_san['Salary or Hourly'] == 'Hourly']['Hourly Rate']

# stat, p_value
stat, p_value = st.ttest_1samp(hourly, 35, alternative= 'less')

print(stat)
print(p_value)
p_value < alpha
# the p_value is lower than alpha
# the stat is in the same direction as our alternative hypothesis
# we reject the null hypothesis
# it seems that the hourly wage of workers in department streets&san is less than 35$/hour

-9.567447887848152
1.6689265282353859e-21

True

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [67]:
# Your code here:
hourly = employees[employees['Salary or Hourly'] == 'Hourly']['Hourly Rate']
mean = np.mean(hourly)
std_error = st.sem(hourly)

st.t.interval(0.95, df=len(employees) - 1, loc=mean, scale=std_error)

(32.52348867934135, 33.05362675321913)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [66]:
# Your code here:
salary = employees[employees['Salary or Hourly'] == 'Salary']['Annual Salary']
mean = np.mean(salary)
std_error = st.sem(salary)

st.t.interval(0.95, df=len(employees) - 1, loc=mean, scale=std_error)

(86526.99959172707, 87046.99998857579)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: