# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [12]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [13]:
# Your code here:
data=pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [14]:
# Your code here:
data.head(3)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [15]:
# Your code here:
nulls=data.isnull().sum()
nulls

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [16]:
# Your code here:
data.groupby("Salary or Hourly").agg({"Salary or Hourly":"count"})

                  Salary or Hourly
Salary or Hourly
Hourly                        8022
Salary                       25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [17]:
# Your code here:
data["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
19365,"MENDEZ, JAVIER O",POOL MOTOR TRUCK DRIVER,TRANSPORTN,F,Hourly,40.0,NaN,35.60
23081,"PETERSON, WILLIAM T",OPERATING ENGINEER-GROUP C,WATER MGMNT,F,Hourly,40.0,NaN,45.07
5963,"CRAWFORD, ALISHA J",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,32.04
8924,"FITCH, JORDAN M",LAW CLERK,LAW,F,Hourly,35.0,NaN,14.51
12278,"HEERY, THOMAS R",WATCHMAN,WATER MGMNT,F,Hourly,40.0,NaN,21.98

In [30]:
# Your code here:
import scipy.stats as st

#1. Hypothesis
H0 = "hourly wage of hourly workers equal to 30/hr"
H1 = "hourly wage of hourly workers different than 30/hr"

test = 30

#2. Significance level
alpha = 0.05

#3. Sample
data_hourly=data[data["Salary or Hourly"]=="Hourly"]
data_hourly_sample=data_hourly.sample(30)

#4. Compute Statistic
mean=data_hourly_sample["Hourly Rate"].mean()
s=data_hourly_sample["Hourly Rate"].std(ddof=1)
n=len(data_hourly_sample["Hourly Rate"])

stat= (mean-test)/(s/np.sqrt(n))

#5. P-value
p_value = st.t.sf(abs(stat),n-1)*2

#6. Decision

if p_value < alpha:
    print("Reject the null: we have enough evidence to conclude that the ",H1, "with a ", 1-alpha, "level of confidence")
else:
    print("Can't reject the null: we don't have enough evidence to conclude that the ",H1, "with a ", 1-alpha, "level of confidence")

Can't reject the null: we don't have enough evidence to conclude that the  hourly wage of hourly workers different than 30/hr with a  0.95 level of confidence

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [31]:
# Your code here:
#1. Hypothesis
H0 = "Salaries in the police force are lower or equal to $86000/year"
H1 = "Salaries in the police force are higher than $86000/year"

test = 30

#2. Significance level
alpha = 0.05

#3. Sample
data_police=data[data["Department"]=="POLICE"]
data_police_sample=data_police.sample(30)

#4. Compute Statistic
mean=data_police_sample["Annual Salary"].mean()
s=data_police_sample["Annual Salary"].std(ddof=1)
n=len(data_police_sample["Annual Salary"])

stat= (mean-test)/(s/np.sqrt(n))

#5. P-value
p_value = st.t.sf(abs(stat),n-1)

#6. Decision

if (p_value < alpha) and (p_value > 0):
    print("Reject the null: we have enough evidence to conclude that the ",H1, "with a ", 1-alpha, "level of confidence")
else:
    print("Can't reject the null: we don't have enough evidence to conclude that the ",H1, "with a ", 1-alpha, "level of confidence")

Reject the null: we have enough evidence to conclude that the  Salaries in the police force are higher than $86000/year with a  0.95 level of confidence

Using the `crosstab` function, find the department that has the most hourly workers.

In [72]:
dept_hourly = pd.crosstab(data['Department'], data['Salary or Hourly'])

dept_hourly['Hourly'].sort_values(ascending=False)

Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
BUSINESS AFFAIRS            7
CULTURAL AFFAIRS            7
COMMUNITY DEVELOPMENT       4
HUMAN RESOURCES             4
HEALTH                      3
PROCUREMENT                 2
FIRE                        2
BUDGET & MGMT               2
HUMAN RELATIONS             0
INSPECTOR GEN               0
DoIT                        0
LICENSE APPL COMM           0
DISABILITIES                0
COPA                        0
CITY CLERK                  0
POLICE BOARD                0
BUILDINGS                   0
BOARD OF ETHICS             0
BOARD OF ELECTION           0
TREASURER                   0
ADMIN HEARNG                0
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [74]:
# Your code here:

#1. Hypothesis
H0 = "STREETS & SAN workers hourly wage is higher or equal to35/h "
H1 = "STREETS & SAN workers hourly wage is less than 35/h"

test = 35

#2. Significance level
alpha = 0.05

#3. Sample
data_streets=data[(data["Department"]=="STREETS & SAN") & (data["Salary or Hourly"]=="Hourly")]
data_streets_sample=data_streets.sample(30)

#4. Compute Statistic
mean=data_streets_sample["Hourly Rate"].mean()
s=data_streets_sample["Hourly Rate"].std(ddof=1)
n=len(data_streets_sample["Hourly Rate"])

stat= (mean-test)/(s/np.sqrt(n))

#5. P-value
p_value = st.t.sf(abs(stat),n-1)

#6. Decision

if (p_value < alpha) and (p_value < 0):
    print("Reject the null: we have enough evidence to conclude that the ",H1, "with a ", 1-alpha, "level of confidence")
else:
    print("Can't reject the null: we don't have enough evidence to conclude that the ",H1, "with a ", 1-alpha, "level of confidence")

Can't reject the null: we don't have enough evidence to conclude that the  STREETS & SAN workers hourly wage is less than 35/h with a  0.95 level of confidence

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [80]:
# Your code here:

from scipy.stats import t
from scipy import stats
confidence=0.95
n=len(data[data["Salary or Hourly"]=="Hourly"]["Hourly Rate"])

mean=data[data["Salary or Hourly"]=="Hourly"]["Hourly Rate"].mean()
standard_error= stats.sem(data[data["Salary or Hourly"]=="Hourly"]["Hourly Rate"],axis=0,ddof=1)
st.t.interval(confidence,n-1,loc=mean,scale=standard_error)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [84]:
# Your code here:
confidence=0.95

n=len(data[(data["Salary or Hourly"]=="Salary")&(data["Department"]=="POLICE")]["Annual Salary"])

mean=data[(data["Salary or Hourly"]=="Salary")&(data["Department"]=="POLICE")]["Annual Salary"].mean()
standard_error= stats.sem(data[(data["Salary or Hourly"]=="Salary")&(data["Department"]=="POLICE")]["Annual Salary"],axis=0,ddof=1)
st.t.interval(confidence,n-1,loc=mean,scale=standard_error)

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: