# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
salaries=pd.read_csv ("C:/Users/milena.xavier/Desktop/Iron/Labs/week 5/lab-hypothesis-testing-1/your-code/Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [5]:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [15]:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [25]:
salaries.groupby("Department").agg({"Name":"count"}).reset_index().sort_values(by='Name', ascending= False)

               Department   Name
27                 POLICE  13414
17                   FIRE   4641
31          STREETS & SAN   2198
26                   OEMC   2102
34            WATER MGMNT   1879
2                AVIATION   1629
32             TRANSPORTN   1140
30         PUBLIC LIBRARY   1015
18       GENERAL SERVICES    980
15       FAMILY & SUPPORT    615
16                FINANCE    560
19                 HEALTH    488
9            CITY COUNCIL    411
23                    LAW    407
6               BUILDINGS    269
10  COMMUNITY DEVELOPMENT    207
7        BUSINESS AFFAIRS    171
11                   COPA    116
3       BOARD OF ELECTION    107
14                   DoIT     99
29            PROCUREMENT     92
22          INSPECTOR GEN     87
25         MAYOR'S OFFICE     85
8              CITY CLERK     84
1           ANIMAL CONTRL     81
21        HUMAN RESOURCES     79
12       CULTURAL AFFAIRS     65
5           BUDGET & MGMT     46
0            ADMIN HEARNG     39
13           DISABILITIES     28
33              TREASURER     22
20        HUMAN RELATIONS     16
4         BOARD OF ETHICS      8
28           POLICE BOARD      2
24      LICENSE APPL COMM      1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [26]:
import scipy.stats as st

In [30]:
# h0:hourly wage of all hourly workers =30
#h1:hourly wage of all hourly workers !=30

alpha=0.05 

sample_workers=salaries[salaries["Salary or Hourly"]=="Hourly"].sample(200)

sample_workers["Hourly Rate"]

#sigficance level of 5%
st.ttest_1samp(sample_workers["Hourly Rate"], 30)

#since p-value is lower then alpha, I can reject null

Ttest_1sampResult(statistic=2.759208785136131, pvalue=0.006334759009722966)

In [32]:
#out of curiosity, I am calculating the mean of the intire population
salaries[salaries["Salary or Hourly"]=="Hourly"]["Hourly Rate"].mean()

32.78855771628128

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [40]:
#creating the sample

sample_police=salaries[(salaries["Salary or Hourly"]=="Salary") & (salaries["Department"]=="POLICE")].sample(200)

#Setting the hypothesis:
#h0 mu>=86000
#h1mu<86000

st.ttest_1samp(sample_police["Annual Salary"], 86000, alternative="greater")
st.ttest_1samp(sample_police["Annual Salary"], 86000, alternative="less")

#conclusion:

#P-value is higher then alpha (0.05) in all alternatives. Thus, I can NOT reject the alternatives and cannot conclude anything.

Ttest_1sampResult(statistic=0.12353716071187015, pvalue=0.5490967831240783)

Using the `crosstab` function, find the department that has the most hourly workers.

In [55]:
# Your code here:
hourly_workers=salaries[salaries["Salary or Hourly"]=="Hourly"]

pd.crosstab(index=hourly_workers['Department'], columns=hourly_workers["Salary or Hourly"]).reset_index().sort_values(by='Hourly', ascending=False)

Salary or Hourly             Department  Hourly
19                        STREETS & SAN    1862
21                          WATER MGMNT    1513
15                                 OEMC    1273
1                              AVIATION    1082
10                     GENERAL SERVICES     765
20                           TRANSPORTN     725
18                       PUBLIC LIBRARY     299
7                      FAMILY & SUPPORT     287
4                          CITY COUNCIL      64
8                               FINANCE      44
13                                  LAW      40
0                         ANIMAL CONTRL      19
16                               POLICE      10
14                       MAYOR'S OFFICE       8
6                      CULTURAL AFFAIRS       7
3                      BUSINESS AFFAIRS       7
12                      HUMAN RESOURCES       4
5                 COMMUNITY DEVELOPMENT       4
11                               HEALTH       3
9                                  FIRE       2
17                          PROCUREMENT       2
2                         BUDGET & MGMT       2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [65]:
sample_department=salaries[(salaries["Salary or Hourly"]=="Hourly") & (salaries["Department"]=="STREETS & SAN")].sample(200)

#Setting the hypothesis:
#h0 mu<=35
#h1mu>35

st.ttest_1samp(sample_department["Hourly Rate"], 35, alternative="greater")
#st.ttest_1samp(sample_department["Hourly Rate"], 35, alternative="less")

#I cannot reject the null hypothesis since pvalue is higher then alpha

Ttest_1sampResult(statistic=-2.950342215696987, pvalue=0.9982225282692451)

In [66]:
#out of curiosity, I calculated the intire population mean
salaries[(salaries["Salary or Hourly"]=="Hourly") & (salaries["Department"]=="STREETS & SAN")]["Hourly Rate"].mean()

33.728378088076845

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [76]:
#Out of curiosity, this is the intire population:
salaries[salaries["Salary or Hourly"]=="Hourly"]["Hourly Rate"].mean()

#Now, taking a sample:
sample1=salaries[salaries["Salary or Hourly"]=="Hourly"].sample(200)

s=sample1["Hourly Rate"].std(ddof=1)
mean=sample1["Hourly Rate"].mean()
n=200

st.t.interval(0.95, n-1, loc=mean,scale=s/np.sqrt(n))

(30.253125541261227, 33.61157445873877)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [77]:
#Taking a sample:
sample_police=salaries[(salaries["Salary or Hourly"]=="Salary") & (salaries["Department"]=="POLICE")].sample(200)

s=sample_police["Annual Salary"].std(ddof=1)
mean=sample_police["Annual Salary"].mean()
n=200

st.t.interval(0.95, n-1, loc=mean,scale=s/np.sqrt(n))

(84540.6817440369, 89236.5382559631)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [80]:
salaries[salaries["Salary or Hourly"]=="Hourly"][["Hourly Rate"]]

       Hourly Rate
4            19.86
6            46.10
7            35.60
10            2.65
18           17.68
...            ...
33164        46.10
33168        17.68
33169        35.60
33174        46.35
33175        48.85

[8022 rows x 1 columns]