# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [5]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [19]:
# Your code here:
salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [11]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [15]:
# Your code here:
print(salaries.shape[0])
print(salaries['Hourly Rate'].notna().sum()+salaries['Annual Salary'].notna().sum())

## we either have typical hourly rate or annual salaries

33183
33183

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [16]:
# Your code here:

salaries.groupby('Department').count()

,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,
ADMIN HEARNG,39,39,39,39,0,39,0
ANIMAL CONTRL,81,81,81,81,19,62,19
AVIATION,1629,1629,1629,1629,1082,547,1082
BOARD OF ELECTION,107,107,107,107,0,107,0
BOARD OF ETHICS,8,8,8,8,0,8,0
BUDGET & MGMT,46,46,46,46,2,44,2
BUILDINGS,269,269,269,269,0,269,0
BUSINESS AFFAIRS,171,171,171,171,7,164,7
CITY CLERK,84,84,84,84,0,84,0
CITY COUNCIL,411,411,411,411,64,347,64
COMMUNITY DEVELOPMENT,207,207,207,207,4,203,4
COPA,116,116,116,116,0,116,0
CULTURAL AFFAIRS,65,65,65,65,7,58,7
DISABILITIES,28,28,28,28,0,28,0
DoIT,99,99,99,99,0,99,0
FAMILY & SUPPORT,615,615,615,615,287,328,287
FINANCE,560,560,560,560,44,516,44
FIRE,4641,4641,4641,4641,2,4639,2
GENERAL SERVICES,980,980,980,980,765,215,765
HEALTH,488,488,488,488,3,485,3
HUMAN RELATIONS,16,16,16,16,0,16,0
HUMAN RESOURCES,79,79,79,79,4,75,4
INSPECTOR GEN,87,87,87,87,0,87,0
LAW,407,407,407,407,40,367,40
LICENSE APPL COMM,1,1,1,1,0,1,0
MAYOR'S OFFICE,85,85,85,85,8,77,8
OEMC,2102,2102,2102,2102,1273,829,1273
POLICE,13414,13414,13414,13414,10,13404,10
POLICE BOARD,2,2,2,2,0,2,0
PROCUREMENT,92,92,92,92,2,90,2
PUBLIC LIBRARY,1015,1015,1015,1015,299,716,299
STREETS & SAN,2198,2198,2198,2198,1862,336,1862
TRANSPORTN,1140,1140,1140,1140,725,415,725
TREASURER,22,22,22,22,0,22,0
WATER MGMNT,1879,1879,1879,1879,1513,366,1513

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [24]:
# Your code here:
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind
from scipy.stats import f_oneway

salaries_sub = salaries[salaries['Hourly Rate'].notna()]

salaries_sub['Hourly Rate'].mean()
ttest_1samp(salaries_sub['Hourly Rate'], 30)

## result: mean is with 5% certainty not equal to 30

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [90]:
# Your code here:
salaries_subs = salaries[salaries['Annual Salary'].notna() & ((salaries['Department']=='POLICE') | (salaries['Department']=='POLICE BOARD'))]

ttest_1samp(salaries_subs['Annual Salary'], 86000)

ttest_1samp(salaries_subs['Annual Salary'], 86000)[1]*100/2

##rejected: p_value is bellow 0.025

0.10306457005664076

Using the `crosstab` function, find the department that has the most hourly workers.

In [69]:
# Your code here:
crosstab=pd.crosstab(salaries['Department'], salaries['Salary or Hourly'], dropna=False)
crosstab.sort_values('Hourly', ascending = False)


## Streets & San

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [91]:
# Your code here:

salaries_subs = salaries[salaries['Hourly Rate'].notna() & (salaries['Department']=='STREETS & SAN')]

ttest_1samp(salaries_subs['Hourly Rate'], 35)

ttest_1samp(salaries_subs['Hourly Rate'], 35)[1]*100/2

##rejected: p_value is bellow 0.025

1.6689265282353858e-19

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [73]:
# Your code here:
from scipy.stats import t
import math

salaries_sub = salaries[salaries['Hourly Rate'].notna()]

mu=salaries_sub['Hourly Rate'].mean()
se= salaries_sub['Hourly Rate'].std()/math.sqrt(salaries_sub['Hourly Rate'].shape[0])
df = salaries_sub['Hourly Rate'].shape[0]-1


t.interval(0.95, df=df, loc=mu, scale=se)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [76]:
# Your code here:
salaries_subs = salaries[salaries['Annual Salary'].notna() & ((salaries['Department']=='POLICE') | (salaries['Department']=='POLICE BOARD'))]


mu=salaries_subs['Annual Salary'].mean()
se= salaries_subs['Annual Salary'].std()/math.sqrt(salaries_subs['Annual Salary'].shape[0])
df = salaries_subs['Annual Salary'].shape[0]-1


t.interval(0.95, df=df, loc=mu, scale=se)

(86177.0234832263, 86795.70096851174)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [84]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [89]:
stat, pval = proportions_ztest(salaries[salaries['Salary or Hourly']=='Hourly'].shape[0],salaries.shape[0], 0.25)

pval*100

salaries[salaries['Salary or Hourly']=='Hourly'].shape[0]/salaries.shape[0]
## p value is bellow 5% --> its significantly different from 25% at a confidence intervall of 5%

0.24175029382515142