# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [59]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st
import statsmodels

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [17]:
# Your code here:
tot_sal = salaries[salaries["Salary or Hourly"] == 'Salary']
tot_hour = salaries[salaries["Salary or Hourly"] == 'Hourly']

print('The total of employees salaried is', tot_sal['Name'].count())
print('The total of employees paid hourly is', tot_hour['Name'].count())

The total of employees salaried is 25161
The total of employees paid hourly is 8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [14]:
# Your code here:
salaries.groupby('Department').agg({'Name':'count'})

                        Name
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [20]:
# Your code here:

# 1. Set the hypotheses --> two tails t-test
# H0 : mu hourly wage = 30
# H1 : mu hourly wage != 30
mu = tot_hour['Hourly Rate'].mean()

# 2. Set the significance level
alpha = 0.05

# 3. Sample: all hourly workers
tot_hour

# 4-5. Compute the statistic and get the p-value
stat, p_value = st.ttest_1samp(tot_hour['Hourly Rate'], 30, alternative='two-sided')

# 6. Take the decision whether to reject or not the null hypothesis
if p_value < alpha:
    print('Reject the null hypothesis')
else:
    print('Do not reject the null hypothesis')

Reject the null hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [25]:
tot_sal[tot_sal["Department"] == 'POLICE']['Annual Salary'].mean()

86486.41450313339

In [26]:
# Your code here:

# 1. Set the hypotheses --> one tailed t-test
# H0 : last year's mean salary = $86000/year
# H1 : salaries this year are higher than last year's mean
mu = tot_hour['Hourly Rate'].mean()

# 2. Set the significance level
alpha = 0.05

# 3. Sample: police department salaried workers
tot_sal[tot_sal["Department"] == 'Police']
police_salaries = tot_sal[tot_sal["Department"] == 'POLICE']['Annual Salary']

# 4-5. Compute the statistic and get the p-value
stat, p_value = st.ttest_1samp(police_salaries, 86000, alternative='greater')

# 6. Take the decision whether to reject or not the null hypothesis
if stat > 0:
    if p_value < alpha:
        print('Reject the null hypothesis')
    else:
        print('Do not reject the null hypothesis')
else:
        print('Do not reject the null hypothesis')

Reject the null hypothesis

Using the `crosstab` function, find the department that has the most hourly workers.

In [38]:
# Your code here:

dep = pd.crosstab(tot_hour['Department'], columns=['Name']).sort_values(by='Name', ascending=False)
dep

col_0                  Name
Department
STREETS & SAN          1862
WATER MGMNT            1513
OEMC                   1273
AVIATION               1082
GENERAL SERVICES        765
TRANSPORTN              725
PUBLIC LIBRARY          299
FAMILY & SUPPORT        287
CITY COUNCIL             64
FINANCE                  44
LAW                      40
ANIMAL CONTRL            19
POLICE                   10
MAYOR'S OFFICE            8
CULTURAL AFFAIRS          7
BUSINESS AFFAIRS          7
HUMAN RESOURCES           4
COMMUNITY DEVELOPMENT     4
HEALTH                    3
FIRE                      2
PROCUREMENT               2
BUDGET & MGMT             2

In [40]:
print('The department that has the most hourly workers is', dep.index[0])

The department that has the most hourly workers is STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [43]:
# Your code here:

# 1. Set the hypotheses --> one tailed t-test
# H0 : STREETS & SAN workers salary => $35/hour
# H1 : STREETS & SAN workers salary < $35/hour

# 2. Set the significance level
alpha = 0.05

# 3. Sample: STREETS & SAN workers salary
street_workers = tot_hour[tot_hour["Department"] == 'STREETS & SAN']
street_workers['Hourly Rate']

# 4-5. Compute the statistic and get the p-value
stat, p_value = st.ttest_1samp(street_workers['Hourly Rate'], 35, alternative='less')

# 6. Take the decision whether to reject or not the null hypothesis
if stat < 0:
    if p_value < alpha:
        print('Reject the null hypothesis')
    else:
        print('Do not reject the null hypothesis')
else:
        print('Do not reject the null hypothesis')

Reject the null hypothesis

In [42]:
street_workers['Hourly Rate'].mean()

33.728378088076845

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [47]:
tot_hour['Hourly Rate']

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [49]:
# Your code here:

c = 0.95
n = len(tot_hour['Hourly Rate'])
mean = tot_hour['Hourly Rate'].mean()
sem = st.sem(tot_hour['Hourly Rate'])

st.t.interval(c, n-1, loc=mean, scale=sem)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [56]:
tot_sal[tot_sal['Department'] == 'POLICE']['Annual Salary']

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [57]:
# Your code here:

c = 0.95
n = len(tot_sal[tot_sal['Department'] == 'POLICE'])
mean = tot_sal[tot_sal['Department'] == 'POLICE']['Annual Salary'].mean()
sem = st.sem(tot_sal[tot_sal['Department'] == 'POLICE']['Annual Salary'])

st.t.interval(c, n-1, loc=mean, scale=sem)

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [73]:
salaries.head(2)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN

In [65]:
print('All workers =', salaries['Name'].count())
print('Hourly workers =', salaries[salaries['Salary or Hourly'] == 'Hourly']['Name'].count())

All workers = 33183
Hourly workers = 8022

In [89]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

# 1. Set the hypotheses --> proportion test
# H0 : hourly workers = 25% of all workers  
# H1 : hourly workers != 25% of all workers 

# 2. Set the significance level
alpha = 0.05

# 3. Sample: All workers 
count = salaries['Name'].count()
nobs = salaries[salaries['Salary or Hourly'] == 'Hourly']['Name'].count()

# 4-5. Compute the statistic and get the p-value
stat, p_value = proportions_ztest(count, nobs, value=25, alternative='larger')

# 6. Take the decision whether to reject or not the null hypothesis
if p_value < alpha:
    print('Reject the null hypothesis')
else:
    print('Do not reject the null hypothesis')

Do not reject the null hypothesis