# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [29]:
# Your code here:
salaries=pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [51]:
# Your code here:
salaries.head()
salaries.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate',
       'salhour'],
      dtype='object')

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [18]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [29]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

There are different departments in the city. List all departments and the count of employees in each department.

In [26]:
# Your code here:
salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [46]:
# Your code here:
""""
H0= 30
H1!=30
"""
SH_sample = salaries[salaries['Salary or Hourly']=="Hourly"]['Hourly Rate'].sample(30)
SH_sample.head()
st.ttest_1samp(SH_sample,30)

Ttest_1sampResult(statistic=0.438264360964096, pvalue=0.6644421059411618)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [34]:
# Your code here:
salaries_police = salaries[(salaries["Department"]=="Police")& (salaries["Salary or Hourly"]=="Salary")] 
stat,p = st.ttest_1samp(salaries_police["Annual Salary"],86000)

print("stat: ", stat, "p-value", p/2)

stat:  nan p-value nan

Using the `crosstab` function, find the department that has the most hourly workers.

In [6]:
# Your code here:
pd.crosstab(salaries["Department"], salaries["Salary or Hourly"]).sort_values("Hourly",ascending=False).head()

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [37]:
# Your code here:
"""
H0>=35
H1<35
"""
salaries_sns=salaries[(salaries["Department"]== "STREETS & SAN")&(salaries["Salary or Hourly"]=="Hourly")]
stat,p =st.ttest_1samp(salaries_sns["Hourly Rate"],35)

print("stat:", stat, "p-values: ", p/2)

stat: -9.567447887848152 p-values:  1.6689265282353859e-21

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [1]:
# Your code here:
from scipy import mean 
mean = mean(sample_hourly,axis=0)
sigma = st.sem(sample_hourly,axis=0)#,axis=None, ddof=0)
n = sample_hourly.shape[0]

start, end = st.t.interval(0.95, n-1, loc=mean, scale=sigma) # interval(confidence, degrees of freedom, mean, std)
print("Start:{0} End:{1}".format(start,end))

NameError: name 'sample_hourly' is not defined

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [2]:
# Your code here:
from scipy import mean 
mean = mean(sample_police ,axis=0)
sigma = st.sem(sample_police ,axis=0)#,axis=None, ddof=0)
n = sample_police .shape[0]

start, end = st.t.interval(0.95, n-1, loc=mean, scale=sigma) # interval(confidence, degrees of freedom, mean, std)
print("Start:{0} End:{1}".format(start,end))

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: