# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:

salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

print('With Salary: ',len(salaries[salaries['Salary or Hourly']=='Salary']))
print('With Hourly: ',len(salaries[salaries['Salary or Hourly']=='Hourly']))

With Salary:  25161
With Hourly:  8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

pd.DataFrame(salaries.groupby('Department')['Name'].count())

                        Name
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

import scipy.stats as st
import matplotlib.pyplot as plt


sample = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate']
len = sample.size

mean = sample.mean()
std = sample.std(ddof=1)
display(mean)
display(std)

stat = (mean-30)/(std/np.sqrt(len))

display(st.t.sf(abs(stat),len-1)*2)

st.ttest_1samp(sample,30)

#H0: The hourly wage is 30/hr
#H1: The hourly wage is differente != 30/hr

# We cannot reject the null hiphotesis

32.78855771628128

12.11257268427681

4.32302404796887e-92

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [11]:
# Your code here:


sample = salaries[salaries['Department']=='POLICE']['Annual Salary']
sample.dropna(inplace=True)
len = sample.size


mean = sample.mean()
std = sample.std(ddof=1)

display(mean)
display(std)

stat = (mean-86000)/(std/np.sqrt(len))

display(st.t.sf(abs(stat),len-1))

st.ttest_1samp(sample,86000)

#H0 : The salaries mean is  86000/year
#H1 : The salaries mean is higher than 86000/year



# Our test statistic is positive and our pvalue is 0.002/2 because is one tailored, so we can say that we reject null hiphotesis and accept alternative hipthotesis of being higher

86486.41450313339

18272.228293992157

0.001030170177547718

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

pd.crosstab(salaries['Department'],salaries['Hourly Rate'],margins=True,margins_name='Total').sort_values('Total',ascending=False)

# It is the Streets & San

Hourly Rate,2.65,8.25,9.27,9.46,9.5,10.0,10.5,11.0,12.0,12.49,...,50.8,52.1,52.18,52.52,53.1,53.9,57.95,78.91,109.0,Total
Department,,,,,,,,,,,,,,,,,,,,,
Total,206,25,4,6,1,5,2,2,22,96,...,2,26,62,1,12,11,1,1,1,8022
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,1862
WATER MGMNT,0,0,0,0,0,0,0,0,0,0,...,2,0,45,0,4,0,0,0,0,1513
OEMC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1273
AVIATION,0,0,0,0,0,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,1082
GENERAL SERVICES,0,0,0,0,0,0,0,0,0,0,...,0,26,9,0,3,0,0,0,0,765
TRANSPORTN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,11,0,0,0,725
PUBLIC LIBRARY,0,0,0,0,0,0,0,0,0,96,...,0,0,0,0,0,0,0,0,0,299
FAMILY & SUPPORT,206,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,287
CITY COUNCIL,0,0,0,0,1,1,2,0,15,0,...,0,0,0,0,0,0,0,0,0,64
FINANCE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,44
LAW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40
ANIMAL CONTRL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,19
POLICE,0,0,4,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
MAYOR'S OFFICE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
CULTURAL AFFAIRS,0,0,0,0,0,0,0,1,6,0,...,0,0,0,0,0,0,0,0,0,7
BUSINESS AFFAIRS,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
HUMAN RESOURCES,0,0,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
COMMUNITY DEVELOPMENT,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,4
HEALTH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,3
FIRE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
PROCUREMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
BUDGET & MGMT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [12]:
# Your code here:

sample = salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate']
sample.dropna(inplace=True)
len = sample.size

st.ttest_1samp(sample,35)


# H0: The hourly wage is 35/hr
# H1: The hourly wage is less than 35/hr

# We cannot reject the null hipothesis the p value is around 1.5 > 0.05

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [13]:
pd.DataFrame(sample.value_counts()).sort_index(ascending=False)

       Hourly Rate
53.10            3
49.10           29
44.55           12
41.10            5
40.20            5
38.35            4
38.33            2
37.56           26
37.47            2
37.25           48
36.22           19
36.21          626
36.13           53
35.60          607
32.59            1
32.04           38
30.20           10
28.97            1
28.48          135
22.83            6
22.12           51
21.43           30
20.77           41
20.12           60
19.50           48

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [14]:
# Your code here:
from scipy.stats import t

sample = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate']
wage = t(df = sample.size-1, # Degrees of Freedom: sample size -1
            loc = np.mean(sample),        # Sample mean
            scale = st.sem(sample,ddof=-1)) # std of the sample
wage.interval(0.95)

(32.523491389369234, 33.05362404319333)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [15]:
# Your code here:

sample = salaries[(salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary')]['Annual Salary']

salary = t(df = sample.size-1, # Degrees of Freedom: sample size -1
            loc = np.mean(sample),        # Sample mean
            scale = st.sem(sample,ddof=-1)) # std of the sample
salary.interval(0.95)

(86177.07939399949, 86795.74961226729)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [31]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest


hourly = (salaries[salaries['Salary or Hourly']=='Hourly']).shape[0]
print(hourly)
workers= salaries.shape[0]
print(workers)
chicago = hourly/workers

list_of_positive_hourly_ocurrences = [1 if x < hourly else 0 for x in range(0,workers)]


print('H0: Number of hourly workers in chicago is (in proportion) 25% of all sample ',chicago )
print('H1: Proportion of hourly workers is different than 25% ')

print('\n',proportions_ztest(hourly,workers,value=0.25))

conf_interv = t(df = workers-1, # Degrees of Freedom: sample size -1
            loc = chicago ,        # Sample mean
            scale = np.std(list_of_positive_hourly_ocurrences)/np.sqrt(workers)) # std of the sample

conf_interv.interval(0.95)

print(conf_interv.interval(0.95))

print('\n The p value is smaller than 0.05 so we reject Null hiphotesis, therefore we accept hipothesis of proportion of hourly workers is different than 25%')

8022
33183
H0: Number of hourly workers in chicago is (in proportion) 25% of all sample  0.24175029382515142
H1: Proportion of hourly workers is different than 25%

 (-3.5099964213703005, 0.0004481127249057967)
(0.23714353220501863, 0.24635705544528422)