# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [19]:
chicagosalaries = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [20]:
chicagosalaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [21]:
num_nulls = chicagosalaries.isnull().sum().sum()

num_nulls

58344

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [26]:
salary_only = chicagosalaries[chicagosalaries['Salary or Hourly'] == 'Salary']

len(salary_only)

25161

In [25]:
hourly_only = chicagosalaries[chicagosalaries['Salary or Hourly'] == 'Hourly']

len(hourly_only)

8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [32]:
chicagosalaries["Department"].unique()

array(['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC',
       'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE',
       'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN',
       "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE',
       'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT',
       'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION',
       'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT',
       'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA',
       'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG',
       'LICENSE APPL COMM'], dtype=object)

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [34]:
from scipy.stats import ttest_1samp

hourly_wages = chicagosalaries.loc[chicagosalaries['Salary or Hourly'] == 'Hourly'].loc[:, 'Hourly Rate']

t_statistic, p_value = ttest_1samp(hourly_wages, 30)

print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 20.6198057854942
p-value: 4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [72]:
police_wages = chicagosalaries.loc[chicagosalaries['Department'] == 'POLICE'].loc[:, 'Annual Salary']

t_statistic, p_value = ttest_1samp(police_wages, 86000)

print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: nan
p-value: nan

Using the `crosstab` function, find the department that has the most hourly workers.

In [45]:
crosstab_table = pd.crosstab(hourly_only['Department'], columns='count')

sorted_table = crosstab_table.sort_values(by='count', ascending=False)

sorted_table.index[0]

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [68]:
from scipy.stats import t

In [71]:
streets_san = chicagosalaries[chicagosalaries["Department"] == "STREETS & SAN"]

sample_mean = np.mean(hourly_wages)
sample_std = np.std(hourly_wages, ddof=1)

null_hypothesis = 35

alpha = 0.05
df = len(hourly_wages) - 1

t_statistic, p_value = ttest_1samp(hourly_wages, null_hypothesis)

confidence_interval = np.round(t.ppf(alpha, df=df) * (sample_std / np.sqrt(len(hourly_wages))) + sample_mean, 2)

print(f"The sample mean is {sample_mean:.2f}, and the sample standard deviation is {sample_std:.2f}.")
print(f"The one-sided 95% confidence interval is ({confidence_interval:.2f}, +inf).")
if p_value < alpha and t_statistic < 0:
    print("The null hypothesis is rejected. The hourly wage is less than $35/hour at the 95% confidence level.")
else:
    print("The null hypothesis is not rejected. The hourly wage is not less than $35/hour at the 95% confidence level.")

The sample mean is 33.73, and the sample standard deviation is 5.74.
The one-sided 95% confidence interval is (33.51, +inf).
The null hypothesis is rejected. The hourly wage is less than $35/hour at the 95% confidence level.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [74]:
hourly_wages = chicagosalaries['Hourly Rate']

sample_mean = np.mean(hourly_wages)
sample_std = np.std(hourly_wages, ddof=1)

alpha = 0.05
df = len(hourly_wages) - 1

t_value = t.ppf(1 - alpha / 2, df)
margin_of_error = t_value * sample_std / np.sqrt(len(hourly_wages))

confidence_interval = np.round([sample_mean - margin_of_error, sample_mean + margin_of_error], 2)

print(f"The sample mean is {sample_mean:.2f}, and the sample standard deviation is {sample_std:.2f}.")
print(f"The 95% confidence interval for the mean hourly wage of all hourly workers is {confidence_interval}.")

The sample mean is 32.79, and the sample standard deviation is 12.11.
The 95% confidence interval for the mean hourly wage of all hourly workers is [32.66 32.92].

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [80]:
police_salaries = chicagosalaries[(chicagosalaries['Department'] == 'POLICE') & (chicagosalaries['Salary or Hourly'] == 'Salary')]['Annual Salary']

sample_mean = np.mean(police_salaries)
sample_std = np.std(police_salaries, ddof=1)

alpha = 0.05
df = len(police_salaries) - 1

t_value = t.ppf(1 - alpha / 2, df)
margin_of_error = t_value * sample_std / np.sqrt(len(police_salaries))

confidence_interval = np.round([sample_mean - margin_of_error, sample_mean + margin_of_error], 2)

print(f"The sample mean is {sample_mean:.2f}, and the sample standard deviation is {sample_std:.2f}.")
print(f"The 95% confidence interval for the mean annual salary of all salaried employees in the police department is {confidence_interval}.")

The sample mean is 86486.41, and the sample standard deviation is 18272.23.
The 95% confidence interval for the mean annual salary of all salaried employees in the police department is [86177.06 86795.77].

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: