# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [23]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp
from scipy.stats import t
import statsmodels.api as sm

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
data = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")
data

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [6]:
print(data.head())

                  Name                              Job Titles  \
0    AARON,  JEFFERY M                                SERGEANT
1      AARON,  KARINA   POLICE OFFICER (ASSIGNED AS DETECTIVE)
2  AARON,  KIMBERLEI R                CHIEF CONTRACT EXPEDITER
3  ABAD JR,  VICENTE M                       CIVIL ENGINEER IV
4    ABASCAL,  REECE E             TRAFFIC CONTROL AIDE-HOURLY

         Department Full or Part-Time Salary or Hourly  Typical Hours  \
0            POLICE                 F           Salary            NaN
1            POLICE                 F           Salary            NaN
2  GENERAL SERVICES                 F           Salary            NaN
3       WATER MGMNT                 F           Salary            NaN
4              OEMC                 P           Hourly           20.0

   Annual Salary  Hourly Rate
0       101442.0          NaN
1        94122.0          NaN
2       101592.0          NaN
3       110064.0          NaN
4            NaN        19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
missing_data = data.isnull().sum()
print(missing_data)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
employment_counts = data['Typical Hours'].value_counts()
print(employment_counts)

40.0    5833
20.0    1901
10.0     184
35.0     104
Name: Typical Hours, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [12]:
department_counts = data['Department'].value_counts()
print(department_counts)

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [15]:
hourly_wage_data = data[data['Salary or Hourly'] == 'Hourly']

hourly_wage_data = hourly_wage_data.dropna(subset=['Hourly Rate'])

hourly_wage_mean = hourly_wage_data['Hourly Rate'].mean()
population_mean = 30  
alpha = 0.05 

t_statistic, p_value = ttest_1samp(hourly_wage_data['Hourly Rate'], population_mean)


if p_value < alpha:
    print("Null hypothesis rejected: Hourly wage is significantly different from $30/hr.")
else:
    print("Null hypothesis cannot be rejected: Hourly wage is not significantly different from $30/hr.")

Null hypothesis rejected: Hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [17]:
police_salary_data = data[(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]

police_salary_data = police_salary_data.dropna(subset=['Annual Salary'])

police_salary_mean = police_salary_data['Annual Salary'].mean()
population_mean = 86000  
alpha = 0.05 

t_statistic, p_value = ttest_1samp(police_salary_data['Annual Salary'], population_mean)


p_value /= 2


if p_value < alpha and t_statistic > 0:
    print("Null hypothesis rejected: Police salaries are higher than last year's mean.")
else:
    print("Null hypothesis cannot be rejected: Police salaries are not higher than last year's mean.")

Null hypothesis rejected: Police salaries are higher than last year's mean.

Using the `crosstab` function, find the department that has the most hourly workers.

In [19]:
department_hourly_cross = pd.crosstab(data['Department'], data['Salary or Hourly'])
department_with_most_hourly = department_hourly_cross['Hourly'].idxmax()
print("Department with the most hourly workers:", department_with_most_hourly)

Department with the most hourly workers: STREETS & SAN

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [21]:
mean_hourly_wage = hourly_wage_data['Hourly Rate'].mean()
std_error = np.std(hourly_wage_data['Hourly Rate'], ddof=1) / np.sqrt(len(hourly_wage_data))
confidence_level = 0.95
degrees_of_freedom = len(hourly_wage_data) - 1
conf_interval = t.interval(confidence_level, degrees_of_freedom, mean_hourly_wage, std_error)
print("95% Confidence Interval for Mean Hourly Wage:", conf_interval)

95% Confidence Interval for Mean Hourly Wage: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [22]:
police_salary_data = data[(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]
police_salary_data = police_salary_data.dropna(subset=['Annual Salary'])
mean_annual_salary = police_salary_data['Annual Salary'].mean()
std_error = np.std(police_salary_data['Annual Salary'], ddof=1) / np.sqrt(len(police_salary_data))
confidence_level = 0.95
degrees_of_freedom = len(police_salary_data) - 1
conf_interval = t.interval(confidence_level, degrees_of_freedom, mean_annual_salary, std_error)
print("95% Confidence Interval for Mean Annual Salary of Police Salaried Employees:", conf_interval)

95% Confidence Interval for Mean Annual Salary of Police Salaried Employees: (86177.05631531785, 86795.77269094893)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [24]:
num_hourly_workers = len(data[data['Salary or Hourly'] == 'Hourly'])
total_employees = len(data)
proportion_hourly = num_hourly_workers / total_employees
null_proportion = 0.25  # 25%
confidence_level = 0.95


z_statistic, p_value = sm.stats.proportions_ztest(num_hourly_workers, total_employees, null_proportion, alternative='two-sided')
alpha = 1 - confidence_level
if p_value < alpha:
    print("Null hypothesis rejected: The proportion of hourly workers is significantly different from 25%.")
else:
    print("Null hypothesis cannot be rejected: The proportion of hourly workers is not significantly different from 25%.")

Null hypothesis rejected: The proportion of hourly workers is significantly different from 25%.