# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [26]:
import numpy as np 
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [27]:
salaries = pd.read_csv(r".\Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [28]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [29]:
salaries_null = salaries.isnull().sum() 
condition = salaries_null > 0
salaries_null[condition]

Typical Hours    25161
Annual Salary     8022
Hourly Rate      25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [30]:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [31]:
salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [32]:
hourly_workers = salaries.loc[salaries["Salary or Hourly"] == "Hourly"]

In [33]:
import scipy.stats as st

# 1. Set the Hypothesis
    # H0: μ hourly wage of hourly workers = 30$/h
    # H1: μ hourly wage of hourly workers != 30$/h

# 2. Choose significance / Confidence level
α = 0.05

# 3. Sample
sample = hourly_workers["Hourly Rate"]

# 4. Compute Statistic & # 5. Get p-value
t, p_value = st.ttest_1samp(sample,30)

# 6. Decide
if p_value < α :
    print("We reject the null hypothesis!")
else:
    print("We do not reject the null hypothesis!")

We reject the null hypothesis!

In [34]:
# we can say, with 95% certainty that the average hourly rate of hourly workers IS different from 30$/h

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [35]:
police_force = salaries.loc[salaries["Department"] == "POLICE"].loc[salaries["Salary or Hourly"]=="Salary"]

In [38]:
# 1. Set the Hypothesis
    # H0: μ salaries of police force are <= $86000/year
    # H1: μ salaries of police force are > $86000/year

# 2. Choose significance / Confidence level
α = 0.05

# 3. Sample
sample = police_force["Annual Salary"]

# 4. Compute Statistic & # 5. Get p-value
t, p_value = st.ttest_1samp(sample,86000,alternative="greater")

# 6. Decide
if (t > 0) & (p_value < α) :
    print("We reject the null hypothesis!")
else:
    print("We do not reject the null hypothesis!")

We reject the null hypothesis!

In [12]:
# we can say, with 95% certainty that the average salary of police force this year
# IS higher than last year's mean

Using the `crosstab` function, find the department that has the most hourly workers.

In [13]:
pd.crosstab(salaries["Department"],salaries["Salary or Hourly"]).sort_values(by="Hourly", ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [37]:
street_sanitary = salaries.loc[salaries["Department"]=="STREETS & SAN"].loc[salaries["Salary or Hourly"]=="Hourly"]

In [23]:
# 1. Set the Hypothesis
    # H0: μ salaries of street and sanitary workers are >= 35$/h
    # H1: μ salaries of street and sanitary workers are < 35$/h

# 2. Choose significance / Confidence level
α = 0.05

# 3. Sample
sample = street_sanitary["Hourly Rate"]

# 4. Compute Statistic & # 5. Get p-value
t, p_value = st.ttest_1samp(sample,35,alternative="less")

# 6. Decide
if (t < 0) & (p_value < α) :
    print("We reject the null hypothesis!")
else:
    print("We do not reject the null hypothesis!")

We reject the null hypothesis!

In [24]:
# we can say, with 95% certainty that the average salary of street and sanitary workers is less than 35$/h

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [34]:
mean = hourly_workers["Hourly Rate"].mean()
n = len(hourly_workers)
s = np.std(hourly_workers["Hourly Rate"], ddof=1)
c = 0.95

st.t.interval(c, n-1, loc=mean, scale=s/np.sqrt(n))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [37]:
mean = police_force["Annual Salary"].mean()
n = len(police_force)
s = np.std(police_force["Annual Salary"], ddof=1)
c = 0.95

st.t.interval(c, n-1, loc=mean, scale=s/np.sqrt(n))

(86177.05631531785, 86795.77269094893)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: