# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
ds = pd.read_csv ('Current_Employee_Names__Salaries__and_Position_Titles.csv')
ds.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

ds['Annual Salary'].head()

0    101442.0
1     94122.0
2    101592.0
3    110064.0
4         NaN
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:

ds.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [18]:
# Your code here:

print (f"There are {len(ds[ds['Salary or Hourly']=='Salary'])} salaried employees")
print (f"There are {len(ds[ds['Salary or Hourly']=='Hourly'])} hourly employees")

There are 25161 salaried employees
There are 8022 hourly employees

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [93]:
# Your code here:

departments = list(set(ds['Department']))

departments_count = ds.groupby(by='Department').count()

departments_count.head()

,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,
ADMIN HEARNG,39,39,39,39,0,39,0
ANIMAL CONTRL,81,81,81,81,19,62,19
AVIATION,1629,1629,1629,1629,1082,547,1082
BOARD OF ELECTION,107,107,107,107,0,107,0
BOARD OF ETHICS,8,8,8,8,0,8,0

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [53]:
# Your code here:
from scipy.stats import ttest_1samp

'h0 = hourly wage = 30'
'h1 = hourly wage != 30'

hourly_salary = ds[ds['Salary or Hourly']=='Hourly']

#hourly_salary.head()

hourly_salary['Hourly Rate'].mean()

pvalue = ttest_1samp(hourly_salary['Hourly Rate'],30)[1]


print (f"the pvalue is {pvalue}. {0.5/2-pvalue}")

the pvalue is 4.3230240486229894e-92. 0.25

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [134]:
# Your code here:

import scipy.stats 
from scipy.stats import ttest_1samp

'h0 = police wage = 86000'
'h1 = police wage > 86000'

police_wage = ds[ds['Department']=='POLICE']
police_wage = police_wage.dropna(subset=['Annual Salary'])

#hourly_salary.head()

print (police_wage['Annual Salary'].mean())

pvalue = (ttest_1samp(police_wage['Annual Salary'],86000)[0])/2


print (f"the pvalue is {round(pvalue,2)}. For that reason we cannot affirm that the police salaries are higher.")

86486.41450313339
the pvalue is 1.54. For that reason we cannot affirm that the police salaries are higher.

Using the `crosstab` function, find the department that has the most hourly workers.

In [101]:
# Your code here:

hourly_workers = pd.crosstab(ds['Department'], ds['Salary or Hourly'])
max_value_hourly_woker = hourly_workers['Hourly'].max()

max_values_hourly_workers = hourly_workers[hourly_workers['Hourly']==max_value_hourly_woker]
department_max_hourly_workers = max_values_hourly_workers.index.item()

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [114]:
# Your code here:

"Hourly Rate = 35"
"Hourly Rate > 35"

department_test = ds[ds['Department']==department_max_hourly_workers]
department_test = department_test.dropna(subset=['Hourly Rate'])

p_value = ttest_1samp(department_test['Hourly Rate'], 35)[0]/2

print (f'We cannot confirm that the workers allegations with a sufficient level of cofidence,\
because the p-value is {round(p_value)}, too high to confirm their complaints.')

We cannot confirm that the workers allegations with a sufficient level of cofidence,because the p-value is -5.0, too high to confirm their complaints.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [146]:
# Your code here:
from scipy.stats import t

mean = ds['Hourly Rate'].mean()
freedom = ds['Hourly Rate'].count()-1

std = np.std(ds["Hourly Rate"])

ci = t.interval(alpha=0.5, df=freedom, loc=mean, scale=std)

ci_round = tuple([round(i,2) for i in ci])

print (ci_round)

(24.62, 40.96)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [145]:
# Your code here:

police_wage

mean_police = police_wage['Annual Salary'].mean()
print (mean_police)
freedom_police = police_wage['Annual Salary'].count()-1

std_police = np.std(police_wage["Annual Salary"])

salary_interval = t.interval(alpha=0.5, df=freedom_police, loc=mean_police, scale=std_police)

salary_interval_round = tuple([round(i,2) for i in salary_interval])

print (salary_interval_round)

86486.41450313339
(74162.11, 98810.72)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: