# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:

salaries=pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

print(len(salaries[salaries['Salary or Hourly']=='Salary']))

print(len(salaries[salaries['Salary or Hourly']=='Hourly']))

25161
8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

salaries['Department'].unique()

array(['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC',
       'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE',
       'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN',
       "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE',
       'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT',
       'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION',
       'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT',
       'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA',
       'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG',
       'LICENSE APPL COMM'], dtype=object)

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

salaries.groupby('Department').agg({'Department':'count'})

                       Department
Department
ADMIN HEARNG                   39
ANIMAL CONTRL                  81
AVIATION                     1629
BOARD OF ELECTION             107
BOARD OF ETHICS                 8
BUDGET & MGMT                  46
BUILDINGS                     269
BUSINESS AFFAIRS              171
CITY CLERK                     84
CITY COUNCIL                  411
COMMUNITY DEVELOPMENT         207
COPA                          116
CULTURAL AFFAIRS               65
DISABILITIES                   28
DoIT                           99
FAMILY & SUPPORT              615
FINANCE                       560
FIRE                         4641
GENERAL SERVICES              980
HEALTH                        488
HUMAN RELATIONS                16
HUMAN RESOURCES                79
INSPECTOR GEN                  87
LAW                           407
LICENSE APPL COMM               1
MAYOR'S OFFICE                 85
OEMC                         2102
POLICE                      13414
POLICE BOARD                    2
PROCUREMENT                    92
PUBLIC LIBRARY               1015
STREETS & SAN                2198
TRANSPORTN                   1140
TREASURER                      22
WATER MGMNT                  1879

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

# 1. Set the hipothesis

# H0: avg_salaries <= 86000
# H1: avg_salaries > 86000

# 2. significance level

alpha=0.05

# 3. Sample

sample=salaries['Annual Salary'].dropna()

# 4. Stat and p-value

stat, pval = st.ttest_1samp(sample, 86000, alternative='greater')


print(stat, pval)

pval<alpha  # p-value is lower than alpha so we reject H0.

5.932870515690814 1.507879259958193e-09

True

In [9]:
sample.mean()

86786.99979015153

Using the `crosstab` function, find the department that has the most hourly workers.

In [18]:
# Your code here:

salaries_cross=pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

display(salaries_cross.head())



salaries_cross[salaries_cross['Hourly']==salaries_cross['Hourly'].max()]
#department w/ the most hourly workers is STREETS AND SAN

Salary or Hourly   Hourly  Salary
Department
ADMIN HEARNG            0      39
ANIMAL CONTRL          19      62
AVIATION             1082     547
BOARD OF ELECTION       0     107
BOARD OF ETHICS         0       8

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [27]:
# Your code here:

# Set the hipothesis

# H0: hourly wage >= 35$/hr
# H1: hourly wage < 35$/hr

# significance level
alpha = 0.05

# sample

s = salaries[salaries['Department']=='STREETS & SAN']
sample = s[s['Salary or Hourly']=='Hourly']['Hourly Rate']



stat, pval = st.ttest_1samp(sample, 35, alternative='less')

print(stat, pval)
pval<alpha

#We reject H0, we have reason to believe the workers are right.

-9.567447887848152 1.6689265282353859e-21

True

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [29]:
# Your code here:

sample=salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate']

mean_s=sample.mean()

std_s=sample.std()

n=len(sample)

st.t.interval(0.95,n-1,loc=mean_s,scale=std_s/np.sqrt(n))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [30]:
# Your code here:

sample=salaries[salaries['Salary or Hourly']=='Salary']['Annual Salary']

mean_s=sample.mean()

std_s=sample.std()

n=len(sample)

st.t.interval(0.95,n-1,loc=mean_s,scale=std_s/np.sqrt(n))

(86526.99656774198, 87047.00301256108)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [31]:
# Your code here:

len(salaries[salaries['Salary or Hourly']=='Hourly'])/len(salaries['Salary or Hourly'])

0.24175029382515142

In [38]:
from statsmodels.stats.proportion import proportions_ztest


count = len(salaries[salaries['Salary or Hourly']=='Hourly'])
nobs = len(salaries['Salary or Hourly'])
stat, pval = proportions_ztest(count, nobs, 0.25)

In [40]:
stat, pval

(-3.5099964213703005, 0.0004481127249057967)

In [44]:
pval<0.05

True