# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [48]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [49]:
# Your code here:
salaries = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

Examine the `salaries` dataset using the `head` function below.

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [50]:
salaries.shape

(33183, 8)

In [51]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [52]:
# Your code here:

salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [53]:
# Your code here:
salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [54]:
import scipy.stats

In [55]:
# Your code here:
scipy.stats.ttest_1samp(salaries["Hourly Rate"], 30, axis=0, nan_policy='omit')

Ttest_1sampResult(statistic=20.619805785494147, pvalue=4.323024048614701e-92)

In [56]:
pvalue = scipy.stats.ttest_1samp(salaries["Hourly Rate"], 30, axis=0, nan_policy='omit')[1]
pvalue < 1-0.95

True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [57]:
# Your code here:
scipy.stats.ttest_1samp(salaries["Annual Salary"], 86000, axis=0, nan_policy='omit')

Ttest_1sampResult(statistic=5.932870515690814, pvalue=3.015758519929416e-09)

In [58]:
statistic = 5.932870515690814
pvalue = 3.015758519929416e-09

print(statistic > 0) 
print(pvalue < 1-0.95)

True
True

Using the `crosstab` function, find the department that has the most hourly workers.

In [59]:
# Your code here:
pd.crosstab(salaries["Department"], salaries["Salary or Hourly"]=="Hourly").sort_values(by=True,ascending=False)

Salary or Hourly       False  True
Department
STREETS & SAN            336   1862
WATER MGMNT              366   1513
OEMC                     829   1273
AVIATION                 547   1082
GENERAL SERVICES         215    765
TRANSPORTN               415    725
PUBLIC LIBRARY           716    299
FAMILY & SUPPORT         328    287
CITY COUNCIL             347     64
FINANCE                  516     44
LAW                      367     40
ANIMAL CONTRL             62     19
POLICE                 13404     10
MAYOR'S OFFICE            77      8
BUSINESS AFFAIRS         164      7
CULTURAL AFFAIRS          58      7
COMMUNITY DEVELOPMENT    203      4
HUMAN RESOURCES           75      4
HEALTH                   485      3
PROCUREMENT               90      2
FIRE                    4639      2
BUDGET & MGMT             44      2
HUMAN RELATIONS           16      0
INSPECTOR GEN             87      0
DoIT                      99      0
LICENSE APPL COMM          1      0
DISABILITIES              28      0
COPA                     116      0
CITY CLERK                84      0
POLICE BOARD               2      0
BUILDINGS                269      0
BOARD OF ETHICS            8      0
BOARD OF ELECTION        107      0
TREASURER                 22      0
ADMIN HEARNG              39      0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [60]:
streets_hourly = salaries.loc[salaries["Department"]=="STREETS & SAN"]["Hourly Rate"]
streets_hourly

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33107    35.60
33147    35.60
33149    36.21
33156    22.12
33162      NaN
Name: Hourly Rate, Length: 2198, dtype: float64

In [61]:
# Your code here:

scipy.stats.ttest_1samp(streets_hourly, 35, axis=0, nan_policy='omit')

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.337853056471074e-21)

In [62]:
statistic = -9.567447887848152
pvalue = 3.337853056471074e-21

print(pvalue < 1-0.95)

True

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [84]:
# Your code here:
mean = salaries["Hourly Rate"].mean()
error = stats.sem(salaries["Hourly Rate"], ddof=1, nan_policy='omit')

In [85]:
print(mean)
print(error)

32.78855771628128
0.1352368565101596

In [86]:
from scipy import stats

In [87]:
stats.t.interval(0.95, len(salaries["Hourly Rate"])-1, mean, error)

(32.52348867934239, 33.05362675322017)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [89]:
salary_police = salaries.loc[salaries["Department"]=="POLICE"]["Annual Salary"]
salary_police

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13414, dtype: float64

In [92]:
# Your code here:

mean = salary_police.mean()
error = stats.sem(salary_police, ddof=1, nan_policy='omit')

stats.t.interval(0.95, len(salary_police)-1 ,mean, error)

(86177.05633614777, 86795.77267011901)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: