# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head(3)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
departments = salaries.pivot_table(index=['Department'], values=['Name'], aggfunc = ['count']).reset_index()
departments

# Note: we could also solve this with groupby

               Department  count
                            Name
0            ADMIN HEARNG     39
1           ANIMAL CONTRL     81
2                AVIATION   1629
3       BOARD OF ELECTION    107
4         BOARD OF ETHICS      8
5           BUDGET & MGMT     46
6               BUILDINGS    269
7        BUSINESS AFFAIRS    171
8              CITY CLERK     84
9            CITY COUNCIL    411
10  COMMUNITY DEVELOPMENT    207
11                   COPA    116
12       CULTURAL AFFAIRS     65
13           DISABILITIES     28
14                   DoIT     99
15       FAMILY & SUPPORT    615
16                FINANCE    560
17                   FIRE   4641
18       GENERAL SERVICES    980
19                 HEALTH    488
20        HUMAN RELATIONS     16
21        HUMAN RESOURCES     79
22          INSPECTOR GEN     87
23                    LAW    407
24      LICENSE APPL COMM      1
25         MAYOR'S OFFICE     85
26                   OEMC   2102
27                 POLICE  13414
28           POLICE BOARD      2
29            PROCUREMENT     92
30         PUBLIC LIBRARY   1015
31          STREETS & SAN   2198
32             TRANSPORTN   1140
33              TREASURER     22
34            WATER MGMNT   1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
import scipy.stats as st

#The firs step is to set the hypothesis:
## H0: mu salary hourly workers = 30€/hour
## H1: mu salary hourly workers =! 30€/hour

#Second, knowing that our confidence interval is 95%, we can define alpha:

alpha = 0.05

#Third, we select the sample:

sample=salaries[salaries["Salary or Hourly"]=="Hourly"]

#Then we proceed with steps 4 and 5 (we compute stats and p_value):

stats, p_value = st.ttest_1samp(sample['Hourly Rate'], 30)
print (stats)
print(p_value)

p_value < alpha

20.6198057854942
4.3230240486229894e-92

True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [9]:
# First, we define our hypothesis:
# H0: mu salaries department police <= 86000€
# H1: mu salaries department police > 86000€

#Then we apply the same steps as in the other example above. However, in this case it is a one tailed test:

alpha=0.05

sample=salaries.loc[(salaries["Department"]=="POLICE")&(salaries["Salary or Hourly"]=="Salary")]

stat, p_value=st.ttest_1samp(sample['Annual Salary'], 86000)
print(stat)
print(p_value/2 )

p_value<alpha

3.081997005712994
0.0010301701775482569

True

Using the `crosstab` function, find the department that has the most hourly workers.

In [10]:
# Note: I am unsure about how to apply the function crosstab to this case. 
# An alternative is proposed below:

salaries_hourly=salaries[salaries["Salary or Hourly"]=="Hourly"]

salaries_hourly.groupby("Department").agg({"Salary or Hourly":"count"}).sort_values(by=['Salary or Hourly'], ascending=False)

# We can see that the department with most hourly workers is "STREETS & SAN"

                       Salary or Hourly
Department
STREETS & SAN                      1862
WATER MGMNT                        1513
OEMC                               1273
AVIATION                           1082
GENERAL SERVICES                    765
TRANSPORTN                          725
PUBLIC LIBRARY                      299
FAMILY & SUPPORT                    287
CITY COUNCIL                         64
FINANCE                              44
LAW                                  40
ANIMAL CONTRL                        19
POLICE                               10
MAYOR'S OFFICE                        8
CULTURAL AFFAIRS                      7
BUSINESS AFFAIRS                      7
HUMAN RESOURCES                       4
COMMUNITY DEVELOPMENT                 4
HEALTH                                3
FIRE                                  2
PROCUREMENT                           2
BUDGET & MGMT                         2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [11]:
# First, we set the hypothesis: 
# H0: mu hourly wage of STREETS & SAN hourly workers >= 35€/hour
# H1: mu hourly wage of STREETS & SAN hourly workers < 35€/hour

# Then we proceed with all the steps as in the examples above:

alpha=0.05

sample=salaries.loc[(salaries["Department"]=="STREETS & SAN")&(salaries["Salary or Hourly"]=="Hourly")]

stat, p_value=st.ttest_1samp(sample['Hourly Rate'], 30)
print(stat)
print(p_value/2 )

p_value<alpha

28.05162661120019
5.235456573261728e-145

True

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [12]:
hourly=salaries[salaries["Salary or Hourly"]=="Hourly"]

mean = hourly['Hourly Rate'].mean()
sigma = hourly['Hourly Rate'].std(ddof=1)
n = len(hourly['Hourly Rate'])

st.norm.interval(0.95, loc=mean, scale=sigma/np.sqrt(n-1))

(32.52348182581586, 33.05363360674671)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [16]:
police_salary = salaries.loc[(salaries["Department"]=="POLICE")&(salaries["Salary or Hourly"]=="Salary")]

mean = police_salary['Annual Salary'].mean()
sigma = police_salary['Annual Salary'].std(ddof=1)
n = len(police_salary['Annual Salary'])

st.norm.interval(0.95, loc=mean, scale=sigma/np.sqrt(n-1))

(86177.07271264796, 86795.75629361882)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [14]:
# Your code here: